<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
       <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>
    
</head>
<body>
    <div class="container">
       <a class="brand" href="#"> <img src="http://i954.photobucket.com/albums/ae22/katieolsonprice/PA%20Buttons/200x100-noback.png" /></a>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                  <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                  <li>@Html.ActionLink("About", "About", "Home")</li>
                  <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                </ul>
            </div>
       </div>
          @RenderBody()
    <br /><div class="border-div"></div>
        <div class="row">
            <div class="span12">
                <div class="pull-right">
                    <h4 >Connect with US</h4>
                    <img src="http://www.anac.on.ca/images/facebook_icon.gif" width="50px"/>
                    <img src="http://www.tourismwhitsundays.com.au/Portals/0/images/Logos/Twitter%20icon%20peel%20over.png" width="55px"/>
                    <img src="http://www.redstarresume.com.au/uploads/images/thumbs/Building_your_Linkedin_Profile_with_Resume_Writing_Service.jpeg" width="50px"/>
                </div>
            </div>
        </div>
        <div id="footer">
            Copyright nature-beauty.apphb.com 2013
        </div>
    </div>
</body>
</html>
